### **Code Examples:**

#### **1. Variables and Comments**

In [1]:
# Comments are after a hash
a = 2  # This assigns 2 to a
b = 2  # This assigns 2 to b
c = a + b  # Adds a and b
print(c)

4

#### **2. Lists and Indexing**

In [2]:
my_list = [10, 20, 30, 40, 50]
print(my_list[0])
print(my_list[2])

10
30

#### **3. Sorting Arrays**

In [3]:
arr = [3, 5, 2, 4, 1]
arr.sort()
print(arr)

[1, 2, 3, 4, 5]

#### **4. Dictionaries**

In [4]:
student_marks = {"John": 85, "Jane": 92, "Alex": 78}
print(student_marks["Jane"])

92

#### **5. Tuples (Immutable Lists)**

In [5]:
coordinates = (10.5, 20.5)
print(coordinates[1])

20.5

#### **6. Functions**

In [6]:
def square(x):
    return x ** 2

print(square(4))

16

#### **7. Loops (Averaging Program Example)**

In [7]:
numbers = [4, 8, 15, 16, 23, 42]
total = 0
for num in numbers:
    total += num
average = total / len(numbers)
print("Average:", average)

Average: 18.0

#### **8. Temperature Conversion (Exercise Solution)**

In [8]:
def fahrenheit_to_celsius(f):
    return (f - 32) / 1.8

def celsius_to_fahrenheit(c):
    return (c * 1.8) + 32

print(fahrenheit_to_celsius(100)) 
print(celsius_to_fahrenheit(37.78))

37.77777777777778
100.004

### **Additional Examples and Scenarios:**

#### **1. Calculating Factorials Using `for` Loop**
*Scenario:* Write a program to calculate the factorial of a number.

In [9]:
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

print(factorial(5))

120

#### **2. Check for Prime Numbers**
*Scenario:* Write a program to check if a number is prime.

In [10]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

print(is_prime(7))

True

#### **3. Simple Calculator with User Input**
*Scenario:* Create a basic calculator.

In [13]:
def calculator():
    num1 = float(input("Enter the first number: "))
    operator = input("Enter an operator (+, -, *, /): ")
    num2 = float(input("Enter the second number: "))
    
    if operator == '+':
        print("Result:", num1 + num2)
    elif operator == '-':
        print("Result:", num1 - num2)
    elif operator == '*':
        print("Result:", num1 * num2)
    elif operator == '/':
        print("Result:", num1 / num2)
    else:
        print("Invalid operator")

calculator()

Enter the first number:  12
Enter an operator (+, -, *, /):  +
Enter the second number:  12

Result: 24.0

#### **4. Find Maximum and Minimum in a List**
*Scenario:* Write a program to find the largest and smallest numbers in a list.

In [14]:
def find_min_max(lst):
    min_val = min(lst)
    max_val = max(lst)
    return min_val, max_val

numbers = [12, 43, 54, 2, 9, 75]
print("Min and Max:", find_min_max(numbers))

Min and Max: (2, 75)

#### **5. Count Words in a Sentence**
*Scenario:* Count the number of words in a sentence entered by the user.

In [15]:
def count_words(sentence):
    words = sentence.split()
    return len(words)

sentence = input("Enter a sentence: ")
print("Word count:", count_words(sentence))

Enter a sentence:  Hello K xa KHBR?

Word count: 4

#### **6. Fibonacci Series**
*Scenario:* Generate the first `n` Fibonacci numbers.

In [16]:
def fibonacci(n):
    a, b = 0, 1
    fib_series = []
    for _ in range(n):
        fib_series.append(a)
        a, b = b, a + b
    return fib_series

print(fibonacci(10))  # Output: First 10 Fibonacci numbers

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

#### **7. Grade Categorization**
*Scenario:* Write a program that takes a student's mark and categorizes it into a grade.

In [17]:
def grade_categorization(marks):
    if marks >= 90:
        return "A"
    elif marks >= 75:
        return "B"
    elif marks >= 60:
        return "C"
    elif marks >= 50:
        return "D"
    else:
        return "F"

print("Grade:", grade_categorization(88))

Grade: B

### **Few More Examples**
#### **1. Comments and Variables**
**Concept:**  
In Python, comments are added with a `#` to explain the code. Variables store data and are assigned using `=`. Python does not require explicit data types.

**Hands-on Example:**

In [18]:
# This is a comment explaining the code
x = 5  # Assigns 5 to variable x
y = 10  # Assigns 10 to variable y
sum = x + y  # Adds x and y
print(sum)  # Output: 15

15

#### **2. Lists and Indexing**

**Concept:**  
Lists are used to store multiple items in a single variable. Lists in Python are indexed starting from 0.

**Hands-on Example:**

In [19]:
fruits = ["Apple", "Banana", "Cherry", "Date"]
print(fruits[0])  # Output: Apple
print(fruits[2])  # Output: Cherry

Apple
Cherry

#### **3. Sorting Lists**

**Concept:**  
Lists can be sorted in ascending order using the `sort()` method.

**Hands-on Example:**

In [20]:
numbers = [12, 4, 5, 9, 1]
numbers.sort()
print(numbers)  # Output: [1, 4, 5, 9, 12]

[1, 4, 5, 9, 12]

#### **4. Tuples (Immutable Lists)**

**Concept:**  
Tuples are similar to lists but cannot be changed once created. Tuples use round brackets `()`.

**Hands-on Example:**

In [21]:
dimensions = (1920, 1080)
print(dimensions[0])  # Output: 1920

1920

### **5. Dictionaries**

**Concept:**  
Dictionaries store data in key-value pairs. Use curly braces `{}` and access values using keys.

**Hands-on Example:**

In [22]:
student = {"name": "John", "age": 21, "marks": 85}
print(student["name"])  # Output: John
print(student["marks"])  # Output: 85

John
85

#### **6. Sets**

**Concept:**  
Sets are collections of unique elements, meaning no duplicates are allowed.

**Hands-on Example:**

In [23]:
my_set = {1, 2, 3, 4, 4, 5}
print(my_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

#### **7. Functions**

**Concept:**  
Functions are blocks of reusable code that are created using `def`. They can take arguments and return values.

**Hands-on Example:**

In [24]:
def greet(name):
    return "Hello, " + name

print(greet("Alice"))  # Output: Hello, Alice

Hello, Alice

#### **8. Loops**

**Concept:**  
Loops allow repeated execution of a block of code. Common loops include `for` and `while`.

**Hands-on Example (For Loop):**

In [25]:
for i in range(5):
    print("Iteration:", i)  # Output: 0 to 4

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4

**Hands-on Example (While Loop):**

In [26]:
count = 0
while count < 5:
    print("Count:", count)
    count += 1  # Output: 0 to 4

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4

#### **9. Temperature Conversion Program (Exercise Example)**

**Concept:**  
Write a program to convert temperatures between Fahrenheit and Celsius.

**Hands-on Example:**

In [28]:
def fahrenheit_to_celsius(f):
    return (f - 32) / 1.8

def celsius_to_fahrenheit(c):
    return (c * 1.8) + 32

print(fahrenheit_to_celsius(100))  # Example: 37.78°C
print(celsius_to_fahrenheit(37.78))  # Example: 100°F

37.77777777777778
100.004

#### **10. Averaging Program (Exercise Example)**

**Concept:**  
Write a program to calculate the average of a list of numbers.

**Hands-on Example:**

In [30]:
numbers = [4, 8, 15, 16, 23, 42]
total = 0
for num in numbers:
    total += num
average = total / len(numbers)
print("Average:", average)  # Output: Average of the list

Average: 18.0